@model TicketSystem.RestApiClient.Model.User;

@{
    ViewData["Title"] = "Edit User '" + Model.Username + "'";
}

@using (Html.BeginForm())
{
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Input was wrong:</h4>
            @Html.ValidationSummary()
        </div>
    }

        <div class="card">
            <div class="card-body">
                <h5>Edit Your User</h5>
                <p class="card-text">

                    <div class="row">
                        <div class="col">
                            <label>
                                Username:
                                @Html.EditorFor(m => m.Username)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                First name:
                                @Html.EditorFor(m => m.FirstName)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                Last name:
                                @Html.EditorFor(m => m.LastName)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                New password:
                                @Html.EditorFor(m => m.Password)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                Email:
                                @Html.EditorFor(m => m.Email)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                Grade:
                                <select name="Grade" asp-for="Grade">
                                    <option value="1">Member</option>
                                    <option value="2">Administator</option>
                                    <option value="3">Sensei</option>
                                </select>
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                City:
                                @Html.EditorFor(m => m.City)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                Address:
                                @Html.EditorFor(m => m.Address)
                            </label>
                        </div>
                        <div class="col">
                            <label>
                                Zip Code:
                                @Html.EditorFor(m => m.ZipCode)
                            </label>
                        </div>
                    </div>
                </p>
                <input type="submit" value="Edit user" class="btn btn-dark" />
            </div>
        </div>
}