@model TicketSystem.RestApiClient.Model.Flight;
@using TicketSystem.RestApiClient.Model;

@{
    ViewData["Title"] = "Add Flight";

    List<AirPort> airports = ((List<AirPort>)ViewBag.AirPorts);
}

@using (Html.BeginForm())
{
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Input was wrong:</h4>
            @Html.ValidationSummary()
        </div>
    }
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <div class="row">
                    <div class="col">
                        <label>
                            Depture time:
                            @Html.EditorFor(m => m.DepartureDate)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Depture Airport:

                            <select asp-for="@Model.DeparturePort">
                                @{
                                    foreach (AirPort airport in airports)
                                    {
                                        <option value="@airport.ID">@airport.Name</option>

                                    }
                                }
                            </select>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Arrival time:
                            @Html.EditorFor(m => m.ArrivalDate)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Arrival Airport:
                            <select asp-for="@Model.ArrivalPort">
                                @{
                                    foreach (AirPort airport in airports)
                                    {
                                        <option value="@airport.ID">@airport.Name</option>

                                    }
                                }
                            </select>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Maximal seats to sell:
                            @Html.EditorFor(m => m.Seats)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Price in dollars:
                            @Html.EditorFor(m => m.Price)
                        </label>
                    </div>
                </div>
                <br />
                <input type="submit" value="Add flight" class="btn btn-primary"/>
            </p>
        </div>
    </div>
}