@model TicketSystem.RestApiClient.Model.Flight;

@{
    ViewData["Title"] = "Add Flight";
}

@using (Html.BeginForm())
{
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Input was wrong:</h4>
            @Html.ValidationSummary()
        </div>
    }
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <div class="row">
                    <div class="col">
                        <label>
                            Depture time:
                            @Html.EditorFor(m => m.DepartureDate)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Depture Airport:
                            @Html.EditorFor(m => m.DeparturePort)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Arrival time:
                            @Html.EditorFor(m => m.ArrivalDate)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Arrival Airport:
                            @Html.EditorFor(m => m.ArrivalPort)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Maximal seats to sell:
                            @Html.EditorFor(m => m.Seats)
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            Price in dollars:
                            @Html.EditorFor(m => m.Price)
                        </label>
                    </div>
                </div>
                <br />
                <input type="submit" value="Add flight" class="btn btn-primary"/>
            </p>
        </div>
    </div>
}